:root {
    --back-border: #333;
    --red-card: rgb(249, 55, 55);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playpen Sans', cursive;
}

.luckyMoney {
    background-image: url('../img/back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 914px;
}

.header {
    border-bottom: 1px solid #000;
    padding: 10px;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__ava {
    display: flex;
}

.header__ava img {
    height: 70px;
    border-radius: 50%;
    border: 3px solid #fff;
    cursor: pointer;
}

.header__main {
    margin-left: 12px;
}

/* BodyLucky */
.container {
    text-align: center;
}

.col {
    justify-content: space-around;
    text-align: center;
}

.card {
    display: flex;
    position: relative;
    cursor: pointer;
    width: 150px;
    height: 250px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    justify-content: center;
    align-items: center;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card__top {
    position: absolute;
    top: 0;
    width: 150px;
    height: 66.66667px;
    border-style: solid;
    border-width: 37px 33.33333px 0 33.33333px;
    transform-origin: 50% 0%;
    border-color: #cf4a43 transparent transparent transparent;
    z-index: 3;
}

.card__right {
    position: absolute;
    right: 0;
    height: 250px;
    border-style: solid;
    border-width: 37px 75.5px 0 0;
    border-color: transparent #e95f55 transparent  transparent;
    z-index: 2;
}

.card__left {
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 250px;
    border-style: solid;
    border-width: 37px 0 0 75.2px;
    border-color: transparent transparent transparent #e15349;
    z-index: 1;
}

.cricle {
    position: absolute;
    border: var(--back-border) solid 3.5px;
    background-color: #FFD700;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    transition: .6s;
    z-index: 2;
}

.rhombus {
    position: absolute;
    height: 35px;
    width: 35px;
    border: var(--back-border) solid 3.5px;
    background-color: #e15349;
    background: linear-gradient(to right, #e15349, #e95f55);

    border-radius: 4px;
    transform: rotate(45deg);
    z-index: 2;
}

.card__footer {
    position: absolute;
    display: flex;
    width: 100%;
    height: 50px;
    bottom: 15px;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}

.rhombuses {
    height: 24px;
    width: 24px;
    background-color: #FFD700;
    border: var(--back-border) solid 3.5px;
    border-radius: 4px;
    transform: rotate(45deg);
}

.footer__card {
    position: absolute;
    display: flex;
    width: 100%;
    height: 50px;
    bottom: 15px;
    align-items: center;
    justify-content: space-around;
}

.back1 {
    height: 50px;
    width: 150px;
    background: -webkit-linear-gradient(to top, #93291E, #ED213A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #93291E, #ED213A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* Choose Card */
.chooseCard {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.chooseCard.open {
    display: flex;
}


.animatedCard {
    display: flex;
    position: absolute;
    cursor: pointer;
    width: 225px;
    height: 375px;
    transition: .4s;
    background-color: #fff;
    justify-content: center;
    align-items: center;

    .right__envelope {
        position: absolute;
        right: 0;
        height: 375px;
        border-style: solid;
        border-width: 55.5px 113px 0 0;
        border-color: transparent #e95f55 transparent  transparent;
        z-index: 2;
    }

    .top__envelope{
        position: absolute;
        top: 0;
        width: 225px;
        height: 100px;
        border-style: solid;
        border-width: 55.5px 50px 0 50px;
        transform-origin: 50% 0%;
        transition: transform 3s 3s, z-index 3s 3s;
        border-color: #cf4a43 transparent transparent transparent;
        z-index: 3;
    }

    .left__envelope {
        position: absolute;
        bottom: 0;
        width: 225px;
        height: 375px;
        border-style: solid;
        border-width: 55.5px 0 0 113px;
        border-color: transparent transparent transparent #e15349;
        z-index: 1;
    }

    .envelope {
        position: absolute;
        right: 24px;
        bottom: 175px;
        width: 180px;
        height: 200px;
        background: white;
        z-index: 1;
        overflow: hidden;
        transition: 2s 2s;
        background-image: url("../img/100.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        /* .envelope__border {
            height: 10px;
            width: 100%;
            background: repeating-linear-gradient(-45deg,
                    #cb5a5e,
                    #cb5a5e 8px,
                    transparent 8px,
                    transparent 18px);
        }

        .envelope__title {
            margin-top: 10px;
            margin-left: 5px;
            height: 10px;
            width: 40%;
            background: #cb5a5e;
        }

        .envelope__context {
            margin-top: 10px;
            margin-left: 5px;
            height: 10px;
            width: 20%;
            background: #cb5a5e;
        }

        .envelope__stamp {
            margin-top: 30px;
            margin-left: 120px;
            border-radius: 100%;
            height: 60px;
            width: 60px;
            background: #cb5a5e;
            opacity: 0.3;
        } */
    }
}

.animatedCard:hover {
        transform: translateY(50px);

    .top__envelope {
        transition: transform 2.5s, z-index 3.5s;
        transform: rotateX(180deg);
        z-index: 0;
    }

    .envelope {
        height: 350px;
    }
}

.animatedCard__circle {
    position: absolute;
    border: var(--back-border) solid 5px;
    background-color: #FFD700;
    height: 135px;
    width: 135px;
    border-radius: 50%;
    transition: .5s;
    z-index: 2;
}

.animatedCard__rhombus {
    position: absolute;
    height: 52.5px;
    width: 52.5px;
    border: var(--back-border) solid 4px;
    background-color: #e95f55;
    border-radius: 6px;
    transform: rotate(45deg);
    z-index: 2;
}

.animatedCard__footer {
    position: absolute;
    display: flex;
    width: 100%;
    height: 75px;
    bottom: 22.5px;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}

.animatedCard__rhombuses {
    height: 36px;
    width: 36px;
    background-color: #FFD700;
    border: var(--back-border) solid 4px;
    border-radius: 6px;
    transform: rotate(45deg);
}

@media (max-width: 1023px) {
    .card {
        margin-top: 12px;
    }
}